body{
    background-color: #dbd5c0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  

}

h1{
    font-family: 'Heebo', sans-serif;
    margin-top: 5%;
}

p{
    font-family: 'Roboto', sans-serif;
}

.col{
    margin-bottom: 5%;
}

#id{

    margin-bottom: 20%;
}

.display-none{
    display: none;
}

.democlass
{

    font-weight: 800;
    font-size: 1.3em;

}

